<%- include('partials/header.ejs'); %>

<h1>About the app</h1>
<p>This is an app very simply made with just the basics implemented such as authentication, posting a bug and then being able to edit it's status and being able to demonstrate the use of a database (MongoDB in this case) and how the app should work, by having each bug listed under an account made by the user and identifying each bug listed by the name of the author that created it at first place. I hope you find the app just a bit useful and in case you want to help developing it, you can find the repo at <a href="https://github.com/stavthal/bug-handler-app">this link</a>. Thank you for taking the time to test the app out!</p> 

<%- include('partials/footer.ejs'); %>